<div class="container">
  <div class="row">
    <div class="content">
      <h1 class="pays">MALI</h1>
      <p>Le Mali est situé en Afrique de l’Ouest. Les pays limitrophes sont la Mauritanie, l’Algérie, le Niger, le
        Burkina Faso, la Côte d’Ivoire, la Guinée et le Sénégal. Le Mali a acquis son indépendance le 22 septembre 1960
        après une période de colonisation française.
        Le Mali est composé de nombreuses ethnies aux régions respectives. Quelques-unes des ethnies les plus
        importantes sont les Touaregs, les Peuls, les Malinkés, les Dogons et les Bambaras, dont la langue est la plus
        parlée au Mali. ..</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 15rem;">
        <img src="../assets/images/segou.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ségou</h5>
          <p class="card-text"> Ségou Capitale de l’ancien Empire bambara aux maisons de banco rouge et ocre ; façades et cours ouvragés, vestiges bien entretenus .</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 15rem;">
        <img src="../assets/images/Dourtzan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Douentza</h5>
          <p class="card-text">Douentza peut être une bonne base pour atteindre les villages dogons de la plaine, puis ceux de la falaise. Important marché le dimanche.</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 15rem;">
        <img src="../assets/images/badjangara.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Badjiankara</h5>
          <p class="card-text">Une paroi rocheuse entrecoupée de failles, refuge des peuples Dogons ; classée à l’Unesco, parsemée de villages dogons parfois accrochés à la falaise</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">


    <div class="col-md-8">
      <ul>
        <li> Langue officielle : Français</li>
        <li> Capitale : Bamako</li>
        <li> État : République</li>
        <li> Superficie : 1 241 238 km²</li>
        <li> Population : 15 006 354 habitants (en 2011)</li>
        <li> Monnaie : Franc CFA</li>
        <li> Indicatif téléphonique : +223</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h4>
        <p> << Suivant >></p>
      </h4>
    </div>
  </div>

