<div class="container ">
  <div class="row ">
    <div class="col-md-6">
      <div class="content">
        <h4 class="pays"><p>Centre Culturelle Korè</p></h4>
      </div>
      <div class="card" style=" ">
        <img src="../assets/images/segou.jpg" class="card-img-top" style="height: 50vh !important;" alt="...">
        <div class="card-body">

          <p class="card-text"> Le Centre Culturel Kôrè (CCK) est dédié à la promotion et la sauvegarde de l’art et de
            la culture, à l’éducation par l’art, à l’art social pour le changement de comportement, une vision à la
            production et à la diffusion d’œuvres artistiques
            Sites touristiques à visiter Il se consacre également à la formation des entrepreneurs et des jeunes
            artistes du Mali, d’Afrique et d’ailleurs à travers son programme d’incubation dénommé « Kôrè-Qualité » en
            partenariat avec (IKAM)....</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h4 class="pays"><p>Centre Culturelle Korè</p></h4>
      </div>
      <div class="card" style=" ">
        <img src="../assets/images/segou.jpg" class="card-img-top" style="height: 50vh !important;" alt="...">
        <div class="card-body">

          <p class="card-text"> Le Centre Culturel Kôrè (CCK) est dédié à la promotion et la sauvegarde de l’art et de
            la culture, à l’éducation par l’art, à l’art social pour le changement de comportement, une vision à la
            production et à la diffusion d’œuvres artistiques
            Sites touristiques à visiter Il se consacre également à la formation des entrepreneurs et des jeunes
            artistes du Mali, d’Afrique et d’ailleurs à travers son programme d’incubation dénommé « Kôrè-Qualité » en
            partenariat avec (IKAM)....</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h4 class="pays"><p>Centre Culturelle Korè</p></h4>
      </div>
      <div class="card" style=" ">
        <img src="../assets/images/segou.jpg" class="card-img-top" style="height: 50vh !important;" alt="...">
        <div class="card-body">

          <p class="card-text"> Le Centre Culturel Kôrè (CCK) est dédié à la promotion et la sauvegarde de l’art et de
            la culture, à l’éducation par l’art, à l’art social pour le changement de comportement, une vision à la
            production et à la diffusion d’œuvres artistiques
            Sites touristiques à visiter Il se consacre également à la formation des entrepreneurs et des jeunes
            artistes du Mali, d’Afrique et d’ailleurs à travers son programme d’incubation dénommé « Kôrè-Qualité » en
            partenariat avec (IKAM)....</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h4 class="pays"><p>Devise Ségou</p></h4>
      </div>
      <div class="card" style="">
        <img src="../assets/images/Dourtzan.jpg" class="card-img-top" style="height: 50vh !important;" alt="...">
        <div class="card-body">

          <p class="card-text">Les habitants de Ségou et les personnes originaires de cette ville sont appelées en
            bambara Segukaw et en français Ségoviens.
            Ancien siège du pouvoir du royaume bambara de Ségou.
            Ségou, les quatre villes (Ségou, Ségou-Koro, Ségou-Koura et Ségoubougou) <br/>Ségou est une ville et une
            commune du Mali, située à 240 km de la capitale Bamako. C’est également le chef-lieu du cercle de Ségou et
            de la 4e région administrative du Mali qui porte son nom ..</p>
          <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>

      <div>

      </div>
      <div class="py-3"></div>
    </div>
  </div>
</div>
