<div class="row">
  <div class="col-md-6">
  <div class="container">
    <img src="../assets/images/badjangara.jpg" alt="Norway" style="width:100%;">

  </div>
    </div>
  <div class="col-md-6">
    <div class="text-block">
      <p>La ville de Ségou est surnommée « la cité des balanzans », nom d’un arbre poussant en abondance dans et autour de la ville (acacia albida). Elle est située sur la rive du fleuve Niger.</p>
    </div>
  </div>
</div>
<div class="row">

<!--<h1 style="font-size:8vw;">Ségou</h1>-->
<p style="font-size:2vw;">Ségou est une ville et une commune du Mali, située à 240 km de la capitale Bamako. C’est également le chef-lieu du cercle de Ségou et de la 4e région administrative du Mali qui porte son nom. Elle est la capitale historique du Royaume bambara de Ségou établi au xviie siècle jusqu'à 1861</p>

</div>
